{% extends 'base.html.twig' %}

{% block body %}
    <div class="banner-bottom-w3layouts py-lg-5 py-3">
        <div class="container">
            <div class="inner-sec-w3ls-agileits py-lg-5 py-3">
                <h4 class="sub-tittle text-uppercase text-center"></h4>
                <h3 class="tittle text-center mb-lg-5 mb-3">THE GAMES WEB</h3>

            </div>
        </div>
    </div>


{% endblock %}
