{% extends 'base.html.twig' %}

{% block body %}
    <div class="banner-bottom-w3layouts py-lg-5 py-3">
        <div class="container">
            <div class="inner-sec-w3ls-agileits py-lg-5 py-3">
                <h4 class="sub-tittle text-uppercase text-center"></h4>
                <h3 class="tittle text-center mb-lg-5 mb-3">XBOX GAMES</h3>
                <ul class="grid cs-style-5 row">


                        <tbody>

                        {% if xbox==[] %}
                        <p> Il n'y a pas de jeu.</p>
                        {% else %}

                        {% for xboxx in xbox %}
                    <li class="grid-info-img">
                        <figure>
                            <img src="images/{{ xboxx.Gallery.image}}" class="img-fluid" alt="img03" width="620" height="500">
                            <figcaption>
                                <h3>{{ xboxx.Gallery.title }}</h3>

                                <a href={{ path('fiche',{ 'id': xboxx.Gallery.id }) }}>Details</a>
                            </figcaption>
                        </figure>
                    </li>
                    {% endfor %}
                    {% endif %}


                </ul>
            </div>
        </div>
    </div>


{% endblock %}