
{% extends 'default/admin/base.html.twig' %}


{% block body %}

<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<h3>Formulaire Information</h3>


<div class="well">

    {{ form(form) }}

</div>


{% endblock %}