{% block body %}

    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <h3>Formulaire Commentaire</h3>


    <div class="well">

        {{ form(form) }}

    </div>


{% endblock %}